@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

$pacifico: "Pacifico", cursive;
$inter: "Inter", sans-serif;
$max-width: 1280px;
$transi: 0.3s ease-out;

$titleColor: #FF6B6B;
$navbarColor: #374151;
$footerUl: #D1D5DB;
$footerColor: #9CA3AF;
$white: #fff;
$background: #1F2937;
