@import './variables';

// Général

* {
    margin: 0;
    font-family: $inter;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $navbarColor;
    transition: $transi;

    &:hover {
        color: $titleColor;
        transition: $transi;
    }
}

// Header

header {
    border-bottom: 1px solid #9ca3af27;

    >div {
        max-width: $max-width;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        >a {
            font-size: 24px;
            font-family: $pacifico;
            color: $titleColor;
        }

        .navbar {
            display: flex;
            gap: 40px;
            font-family: $inter;
        }
    }
}

// CardLogement et Details
h1,
h3,
.location,
.tags,
.stars,
#identity {
    margin: 10px 20px;
    color: $darkBlue;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $textHome;
}

span {
    background: linear-gradient(to right, #667EEA 0%, #764BA2 100%);
    padding: 6px 20px;
    border-radius: 20px;
    color: $white;
}

.tags {
    display: flex;
    gap: 20px;
    margin-top: 14px;
    flex-wrap: wrap;
}

// Footer

footer {
    background: $darkBlue;

    div {
        max-width: $max-width;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 40px 20px;

        h2 {
            color: $white;
            font-size: 18px;
            margin-bottom: 16px;
        }

        ul {
            line-height: 1.8rem;

            a {
                color: $footerUl;
            }
        }

    }

    p {
        max-width: $max-width;
        margin: auto;
        color: $footerColor;
        text-align: center;
        border-top: 1px solid $footerColor;
        padding: 20px;
    }
}

@media screen and (max-width: 767px) {
    header>div {
        flex-direction: column;
    }
    footer div{
        display: flex;
        flex-direction: column;
        article{
            margin-bottom: 40px;
        }
    }
}